* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
.navConatiner  {
    padding: 1vw 2vw;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;


}
.navPart2 {
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
}
