@import url('https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap'); 

.aboutUsContainer{
  padding: 5vw;
  display: grid;
  overflow-x: hidden;

  place-items: center;
}

#aboutUsHeading {
  font-size: 4vw;
  color: #28a9a9;
  font-family: system-ui;
  font-weight: bold;
  line-height: 4rem;
  text-align: center;
  font-family: system-ui;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
}
.aboutUsPara span{
  font-weight: bold;
  color: #28a9a9;

}
.aboutUsParaDiv{
  display: grid;
  place-items: center;
}
.aboutUsPara{
      text-align: center;
      font-size: 1.5vw;
      margin: 3rem 0;
      font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
      color: #3e3e3e;
      width: 80%;
}

.aboutListHead{
  font-size: 1.3rem;
  font-family: system-ui;
}


@media screen and (max-width: 800px) {
  #aboutUsHeading {
    font-size: 9vw;
  }
  .aboutUsPara {
    font-size: 6vw;
    margin-top: 10vw;
}
}