@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap'); 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.home{
  background: rgb(249, 249, 249);
  overflow-x: hidden;
  scroll-behavior: smooth;

}
.mainSection{
  padding: 3vw;
  display: grid;
  position: relative;
  height: 88vh;
  overflow-x: hidden;

  place-items: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,190,255,1) 0%, rgba(145,216,240,1) 0%, rgba(163,229,250,1) 0%, rgba(195,238,255,1) 1%, rgba(217,242,247,1) 100%, rgba(205,240,252,1) 100%, rgba(0,164,225,1) 100%, rgba(2,38,80,1) 100%, rgba(5,38,113,1) 100%, rgba(9,9,121,1) 100%, rgba(7,58,154,1) 100%);
}
#heading{
  font-size: 4vw;
  font-family: system-ui;
  font-weight: bold;
  line-height: 4rem;
  width: 80%;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  margin: 2vw 0;
  text-align: center;
}

#para{
margin: 1vw 0;
  text-align: center;
  font-size: 1.7vw;
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #3e3e3e;
  width: 90%;
}

.homeBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}

.slideDownContainer{
  display: flex;
  justify-content: center;
  align-items: center
}

#slideDownIcon {
  border-style: none;
  cursor: pointer;
  width: 5vw;
  margin-top: 4vw;
  height: 3.4vw;
  opacity: 0.6;
  position: relative;
  bottom: 2vh;
  animation: upAndDown 1.5s ease-in-out  infinite  ;
}

@keyframes upAndDown {
  0%{
    bottom: 2vh;
  }
  50%{
    bottom: 5vh;
  }
  100%{
    bottom: 2vh;
  }
}














.coursesSection{
  display: grid;
  place-items: center;
  padding: 3vw;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2vw;
}

#coursesHeading{
  font-size: 3vw;
  text-align: center;
  padding-top: 10vw;
  font-family: system-ui;
  font-weight: bold;
  line-height: 3rem;
}

.courses {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 10px -4px black;
  border-radius: 3vw;
  padding: 3vw;
  display: grid;
  place-items: center;
}

.coursesSection .sd{
  background: #efbf97a8;
}
.coursesSection .st{
  background: #d4abffbd;
}
.coursesSection .cs{
  background: #00ffff52;
}
.cs h1{
  width: 80%;

}

.courses h1 {
  font-size: 3vw;
  -webkit-text-stroke: 1px #00000057;
  text-align: center;
  color: white;
  font-family: system-ui;
  font-weight: bold;
  line-height: 3rem;
}


.courses p {
  font-size: 1.5vw;
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #383838;
  margin: 2vw 0px;
}


.courseLinks{
    padding: .5vw 2vw;
    border-radius: 100vw;
    font-size: 1.5vw;
    font-family: system-ui;
    box-shadow: 0px 0px 2px 0px #0000007d;
    background: #ffffffc2;
}



.aboutUsSection{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2vw;
  padding: 3vw;
}
.aboutUsSection div{
  display: grid;
  place-items: center;
}
.aboutUsSection h1{
  font-size: 3vw;
  
  font-family: system-ui;

  font-weight: bold;
  font-style: normal;
  line-height: 3rem;
}

.aboutUsSection div{
  padding: 3vw;
}

.aboutUsSection p{
  font-size: 1.6vw;
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #383838;
  text-align: center;
  margin: 2vw 0;
}
.aboutUsSection img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  border-radius: 2vw;
  box-shadow: 0px 0px 3px 0px black;
}












@media screen and (max-width: 800px) {
  #heading {
    font-size: 8vw;
    width: 100%;
}
  #para{
    font-size: 5.5vw;
  }
  #slideDownIcon {
    width: 9vw;
    height: 7.4vw;
}
#coursesHeading {
  font-size: 10vw;
  margin: 5vw 0;
  font-family: system-ui;
  font-weight: bold;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
}
  .coursesSection {
    grid-template-columns: 1fr;
    gap: 4vw;
}
.courses h1{
  font-size: 9vw;
}

.courses p {
  font-size: 5vw;
  margin: 10vw 0;
}
.courseLinks {
  font-size: 5vw;
  padding: 2vw 5vw;
}
.aboutUsSection {
  grid-template-columns: 1fr;
}
.aboutUsSection h1 {
  font-size: 10vw;
  margin-top : 10vw;
}
.aboutUsSection p {
  font-size: 4.5vw;
  margin: 3vw 0;
}
}