*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    z-index: 100;
    display: flex;
    top: 0;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background: #f3f3f3;
}

.navbarLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.navbarItems{
    display: flex;
    gap: 1rem;
}