@import url('https://fonts.googleapis.com/css2?family=Zain:wght@200;300;400;700;800;900&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  .navbar {
    z-index: 100;
    display: flex;
    height: 12vh;
    top: 0;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    backdrop-filter: blur(3rem);
  }
  
  .navbarLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  
  .navbarLogo img {
    width: 5vw;
  }
  
  .navbarItems {
    display: flex;
    gap: 3vw;
  }
  
  .navItem {
    font-size: 1.5vw;
    font-family: system-ui;
    font-weight: 400;
  }
  
  .navItem.active {
    border-bottom: 2px solid #000; /* Change to your desired color */
  }
  
  #logoText1 {
    font-size: 1vw;
  }
  
  #logoText2 {
    font-size: 1.5vw;
  }
  
  #logoText3 {
    font-size: 1vw;
  }
  
  #logoText1,
  #logoText2,
  #logoText3 {
    font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
  }
  
  .menuIcon {
    display: none;
    z-index: 99;
  }
  
  .menuNavbarItems {
    display: none;
  }
  
  @media screen and (max-width: 800px) {
    .navbarItems {
      display: none;
    }
  
    .menuIcon {
        display: block;
        font-size: 7vw;
        cursor: pointer;
    }
  
    .menuNavbarItems {
      right: 2vw;
      height: 100vh;
      width: 65vw;
      border-radius: 2vw;
      position: absolute;
      box-shadow: 0px 0px 10px -3px black;
      top: 0;
      backdrop-filter: blur(85px);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 5vw;
      background: white;
      transform: translateX(100vw);
      transition: transform 0.3s ease-in-out;
    }
  
    .menuNavbarItems.showMenu {
      transform: translateX(0);
    }
  
    .navItem {
      font-size: 7vw;
    }
    .navbarLogo img {
        width: 15vw;
    }
    #logoText1 {
        font-size: 4vw;
    }
    #logoText2 {
        font-size: 5vw;
    }
    #logoText3 {
        font-size: 4vw;
    }
  }
  