* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.stContainer {
    min-height: 100vh;
}
.stbackdrop {
    /* border: 2px solid blue; */
    background: url("/images/stbanner.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.stHead {
    /* border: 2px solid red; */
    height: 13vw;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
}
.stHead h2 {
    color: white;
    margin-bottom: 3vw;
}
.stImage {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
    
}
.stImage img {
    width: 60vw;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1.8vw;
    padding: 1vw 0;
    border-radius: 1.2vw;
}
.container h2 {
    font-size: 2.5vw;
}
.aboutst {
    margin-top: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stOutcome {
    display: flex;
    justify-content: center;
    align-items: center;
}
.outcomeInter {
    width: 80vw;
    margin-top: 2vw;
}
.outcomeInter p {
    font-size: 1.2vw;
    padding: .5vw .5vw;
}
.stLearn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vw;
}
@media screen and (max-width: 800px) {
   h2 {
    font: optional;
   } 
}